@import 'node_modules/nib/index'

main_text_color = #d6d6d6
main_background_color = #000D13
yellow_color= #D2BE02

medium_vertical_margin = 4.1em


html,body
  background-color: main_background_color 
  color: main_text_color
  margin:0px
  font-family: 'Lato', sans-serif

body
  border-top: 2px solid yellow_color

ul
  margin: 0px 
  padding: 0px
  list-style: none

li
  margin: 0px 
  padding: 0px
  display:inline-block 
  color: main_text_color

a
  color: main_text_color
  text-decoration: none


.left-column
  width: 70%
  float:left

.right-column
  float:right
  width: 20%

.no-column  
    clear:both

.medium-vertical-margin
    margin-top: medium_vertical_margin


#wrapper
  padding: 4px  150px 0px

#header
  max-width: 1000px
  margin-left:  auto 
  margin-right: auto
  position: relative
  height: 550px
  margin-bottom:50px
  background-image: url(./images/cball-ader-building.png)
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

  img
    display: block
    margin: 0 auto

  img#logo
    padding-top: 125px
    width: 100%
    max-width: 500px

#content
  max-width: 1000px 
  margin:  auto 

  section
    box-sizing: border-box 
    margin-bottom: 100px

  h1, h2, h2
    text-transform: uppercase

  h1
    font-size: 24px
    color: yellow_color
    font-weight: 300
    letter-spacing: 4px
    line-height: 1.1

  h2 
    font-size: 18px
    color: yellow_color
    
  h2.white
    font-weight: 300
    letter-spacing: 4px
    color: white
      
  h3 
    font-size: 16px
    color: white
 
  p
    color: main_text_color
    line-height: 20px
    font-size: 16px
    line-height: 28px
    font-weight: 300

  .cash
    color: yellow_color

  .yellow
    color: yellow_color

  /* main content left -column */  
  .left-column 
    #photo-gal
      #galleria
        width: 90%
        height: 500px
        margin: 0px
        padding: 0px
        .galleria-stage
          bottom: 97px
        .galleria-carousel
           height: 90px
        .galleria-container
          height: 87px
          background-color: main_background_color
        .galleria-counter
          display: none !important
        .galleria-thumbnails
           .galleria-image
            height: 87px 
            width: 131px
            padding-left: 2px
            padding-right: 2px
            &.active
              border: 2px solid yellow_color

    #auction
      ul
        li
          vertical-align: top
          width: 150px
          margin-right: 5px
          img
             border-radius: 75px;
          .auction-item
            
          h4.auction-item-name
            color: yellow_color
          .auction-item-description
            font-size: 75%
            line-height: 120%

    #support
      ul  
        li
          vertical-align: top
          margin-bottom: 20px
          width: 30%
          margin-right 3%
          .support-level
            font-weight: 900

  /* main content - right content */
  .right-column
    #womans-board
      margin-bottom: 0px
      ul.columns
        text-align: left
        color: main_text_color
        
        
        .past-chair:after
          content: " * "
          color: yellow_color

        li
          display: block 
          margin-bottom: 10px
          .role 
            text-transform: uppercase
            color: yellow_color
            font-weight: bold
            font-size: 13px
            margin-top: 0px

  /* no-column */
  .no-column
    #sponsors
      #logos
        padding: 40px 0px 40px 0px
        margin-bottom: 50px
        div
          box-sizing: padding-box
          display: inline-block
          width: 20%
          margin-right: 40px
          img
            display: inline-block
            margin: 0px 40px 20px 0px
            vertical-align: middle

    #pnc
      #pnc-logo
        vertical-align middle
     
   /* footer */     
  .footer
    margin-top: 75px
    width: 100%
    height: 150px
    position:relative
    z-index: 2
   .left-column-footer
     width: 600px
     float:left 

     #contact
      p
        margin: 0
        font-size: 18px

@media all and (max-width: 1000px)
   body
     text-align: center
   #wrapper
     padding:2em
   #header
     height: 275px
     margin-bottom: 0px
     img#logo
       padding-top: 29px
   .right-column
     display:block
     width:100%
    li
      display:block !important
      width: 100% 
      margin-left  auto !important
      margin-right auto !important

    #content
      section
        margin-bottom: 25px
      .left-column
        display:block
        width:100%
        #support
          li
            display: block
            margin-bottom: 5px
        #auction
          ul
            li
              margin-bottom: 10px
              width 100%
            
        #photo-gal
          width: 100%
          #galleria
            width: 100%

      .right-column
        #womans-board
          ul.columns
            columns: 100px 2
            -webkit-columns: 100px 2
            -moz-columns: 100px 2
            -webkit-column-gap: 50px
            -moz-column-gap:  50px
            column-gap: 50px
            font-size: 10px 

      .no-column
        #sponsors
          margin-bottom: 0
          padding-bottom: 0
          #logos
            div
              display:block !important
              width: 100%
              clear:both
              margin-left: auto
              margin-right: auto
              margin-bottom: 10px
              img
                display:block
            #pnc
              #pnc-logo
                padding-top:30px
      .footer
        #adler-wordmark-footer
          max-width: 100%
          margin: 20px 0 
       .left-column-footer
          width: 100%
          display:block

@media all and (min-width: 680px) and (max-width: 1230px)
  #content
    .left-column
      #auction
        ul
          li
            display: inline-block   !important
            width: 40%  !important
            margin-bottom: 25px
            margin-right: 60px

@media all and (min-width: 680px) and (max-width: 1000px)
  #content
    .right-column
      #womans-board
        ul.columns
          columns: 150px 3
          -webkit-columns:  150px 3
          -moz-columns:  150px 3
          -webkit-column-gap: 50px
          -moz-column-gap:  50px
          column-gap: 50px
          font-size: 10px
      .no-column    
        .footer
          #adler-wordmark-footer
            max-width: 100%